<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Productos</h1>
    <a href="{% url 'producto_create' %}">Agregar un nuevo producto</a>
    <ul>
        {% for producto in productos %}
        <li>
            {{ producto.nombre }} - <a href="{% url 'producto_update' producto.pk %}">Actualizar</a> <a href="{% url 'producto_delete' producto.pk %}">Eliminar</a>
        </li>
        {% endfor %}
    </ul> 
</body>
</html>
